# Ambiente Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env

# Diretórios do Django
db.sqlite3
/static/
media/

# Arquivos de configuração do editor
.idea/
.vscode/
*.swp
*~

# Arquivos de Log
*.log

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de pacotes
*.egg
*.egg-info
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Arquivos do Celery beat schedule
celerybeat-schedule
celerybeat.pid

# Arquivos temporários e de backup
*.bak
*.tmp

# Arquivos do pytest
.pytest_cache/
.tox/
.coverage

# Arquivos do Pipenv
Pipfile.lock

# Arquivos do mypy
.mypy_cache/

# Arquivos do PyCharm
*.iml
*.ipr
*.iws
